<header>
  <nav>
    <button id="hamburger" aria-label="Menu openen">
      <div class="cross"></div>
      <div id="middle">
        <div></div>
        <div></div>
      </div>
      <div class="cross"></div>
    </button>
    <ul>
      <li><a tabindex="1" href="/#">Home</a></li>
      <li><a tabindex="1" href="/#leerdoelen">Leerdoelen</a></li>
      <li><a tabindex="1" href="/#vakken">Vakken</a></li>

      <li><a tabindex="1" href="/#gastsprekers">Weekly Nerd</a></li>

    </ul>

  </nav>
</header>