{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <p>
        API een van de vakken waar ik vooraf een beetje bang voor was. Bleek achteraf een van de leukste vakken die ik
        tot nu
        toe gedaan heb. Ik heb hier dan ook het hoogste cijfer voor gehad een 9. Ik heb gebruik gemaakt van de Spotify
        Api om
        een app te maken waarin in je in aanraking komt met nieuwe muziek. Je kan er muziek mee afspelen en toevoegen
        aan je
        favorieten.
    </p>

    <h2>De opdracht</h2>
    <p>
        De opdracht bestond uit drie keuzes, je kon gaan voor een streamingsplatform zoals, Netflix/Spotify, een
        chatomgeving
        zoals Whatsapp of een infintite scroll app zoals Insta/TikTok. Zoals je eerder al kon lezen heb ik gekozen voor
        een
        streamingsplatform.
    </p>
    <h2>Wat ging er goed?</h2>
    <p>
        Het bedenken van een concept en dit uitwerken ging mij best goed af, liep wel tegen een aantal designproblemen
        aan
        tijdens het coderen alleen stelde vragen om dit te verhelpen. Ook was mijn doorzettingsvermogen op het moment
        dat het
        even niet lukte met de API goed aangezien ik echt heel lang heb gestruggled om het te laten werken. Als laatst
        was ik
        blij met de lekker aanvoelende animaties in de app.
    </p>

    <h2>Wat ging er minder goed?</h2>
    <p>
        Het begin was niet makkelijk, ik had de voorbeeldcode van Declan gebruikt om een start te maken, alleen hierin
        werd
        gebruik gemaakt van vite en liquid twee talen waarin ik nog nooit gewerkt had. Dus ben eigenlijk een beetje van
        start
        gegaan zonder mij in te lezen. Niet slim, dat weet ik nu dus ook. Daarbij ging het ophalen van de Spotify Api
        best wel
        moeizaam aangezien de documentatie niet al te duidelijk is. Daarbij komt mijn beperkte Javascript ook niet van
        pas.
    </p>

    <h2>Wat neem ik mee?</h2>
    <p>
        Geef niet op wanneer het even niet lukt, neem pauze, stel andere een vraag dan lukt het uiteindelijk wel. Neem
        ook niet
        zomaar code klakkeloos over ondanks dat het een kleine setup is, lees je in voordat je met talen aan de slag
        gaat en
        zorg dat je het begrijpt.
    </p>

</section>
{% endblock %}