{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <h2>View transitions</h2>
    <p>
        Tijdens de Pre CSS day vertelde Bramus over cross-document view transitions voor multi-page
        applications (MPAs). Deze technologie, ondersteund door Chrome, biedt een vernieuwende manier om vloeiende
        overgangen tussen verschillende pagina's te creëren, wat een vloeiende gebruikerservaring bevordert.
    </p>
    <h3>Wat zijn View Transitions?
    </h3>
    <p>
        View transitions maken het mogelijk om screenshots van de huidige en nieuwe staat van een document te maken en
        deze te
        animeren. Dit voorkomt plotselinge wijzigingen op het scherm en zorgt voor een soepeler visuele overgang.
    </p>

    <h3>Hoe Werkt het?
    </h3>
    <p>
        Bramus legde uit hoe je met een klik-event document.startViewTransition kunt gebruiken. Hierbij wordt een
        screenshot van
        de huidige weergave gemaakt, de volgende functie uitgevoerd, en vervolgens een nieuwe screenshot voor de nieuwe
        weergave
        gemaakt. Deze screenshots worden daarna geanimeerd naar de nieuwe staat.
    </p>

    <h3>Handige tips</h3>
    <p>
        Bramus benadrukte het belang van het toevoegen van fallbacks voor browsers die view transitions niet
        ondersteunen.
        Daarnaast besprak hij hoe je verschillende lagen van de overgang kunt beheren met ::view-transition, en hoe je
        keyframes
        kunt toevoegen voor animaties om de overgangen te stylen. Hij liet ook zien hoe je specifieke elementen kunt
        targeten
        met view transitions, bijvoorbeeld door een box te voorzien van een view transition naam.
    </p>

    <h3>Beperkingen</h3>
    <p>
        Hoewel view transitions nog niet perfect zijn, omdat snelle pagina-overgangen de animatie kunnen onderbreken,
        bieden ze
        een aanzienlijke verbetering in de gebruikerservaring. Momenteel is er geen automatische waarde voor meerdere
        elementen,
        maar Bramus verwacht dat dit in de toekomst zal veranderen.
    </p>

    <h3>Multi-Page Applications</h3>
    <p>
        Ook begon Bramus nog over de MPA's en dat die eerdaags uit zouden komen. Dit is wel alleen beschikbaar in
        Chrome, dus nog
        steeds moet je rekening houden met fallback. Ik had hier nog moeite om mij te concetreren en hem te volgen.
    </p>

    <h2>Wat vond ik interessant?</h2>
    <p>
        Ik vond het erg interessant om te zien dat je nu dus een soort app gevoel kan geven aan de gebruiker, terwijl ze
        wel gewoon in een site zitten. Dit kan de gebruikerservaring enorm verbeteren.
    </p>

    <h2>Wat neem ik mee?</h2>
    <ul>
        <li>
            <p>
                Ik wil graag meer leren over view transitions en hoe ik deze kan toepassen in mijn eigen projecten.
            </p>
        </li>
    </ul>

</section>
<section class="prev_next">
    <a href="/q42" class="button">Vorige Weekly Nerd {% include "partials/prev_next.liquid" %}</a>
    <a href="/miriam_suzanne" class="button">Volgende Weekly Nerd {% include "partials/prev_next.liquid" %}</a>
</section>
{% endblock %}