{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <p>
        Browser Tech het moeilijkste vak wat ik tot nu toe heb gehad deze minor. Hierin had ik het gevoel dat je werd
        bedolven
        met informatie, wat goed is hoor, maar ook veel druk en paniek met zich meebrengt. Er werden soms ook dingen
        verteld en
        achteraf moest dat dan niet worden gebruikt. Ook was hier weer veel informatie nieuw. In dit vak wordt de loep
        gelegd op
        toegankelijkheid en progressive enhancement.
    </p>

    <h2>De opdracht</h2>
    <p>
        De opdracht was het maken van een digitale ervingsbelasting formulier. Hiervoor moesten in eerste instantie 27
        pagina’s
        worden uitgewerkt. Waarin werd gelet op de code die je gebruikt en dat je oplet hoe toegankelijk en werkend het
        blijft
        voor iedereen. Omdat de opdracht zo groot was, werd deze later ingekort tot 7 pagina’s.
    </p>
    <h2>Wat ging er goed?</h2>
    <p>
        In dit project ging het toepassen van geleerde best wel oke, ik heb voor mij gevoel best grote stappen gemaakt
        qua
        kennis in het maken van een website en hoe deze op te bouwen. Dit vak was voor mij heel handig om op voort te
        borduren.
        Doordat zo overweldigend was en het eindcijfer van een 5,5 voelt dat wel veel minder zo en voelt het ook alsof
        ik niet
        zoveel goed heb gedaan.
    </p>

    <h2>Wat ging er minder goed?</h2>
    <p>
        Bij het vak Browser Tech werd ik zoals ik al zei een beetje overweldigd door alle nieuwe info en de grootte van
        de
        opdracht. Hierdoor heb ik een beetje een verkeerde volgorde gaan aanhouden van alle taken. Ook heb ik bepaalde
        fouten
        gemaakt in mijn HTML waardoor ik echt veel tijd verloren heb in het proces. Dus een overzicht krijgen van wat
        wanneer en
        hoe moet gebeuren is iets wat veel beter kon tijdens dit vak.
    </p>

    <h2>Wat neem ik mee?</h2>
    <p>
        Wat ik mee ga nemen is te proberen overzicht te bewaren, wat is handig om als eerst werkend te krijgen of te
        maken? Ook
        heb ik met Jeremy Keith een gesprek gehad over waar ik mee ben begonnen tijdens dit project, dat was Javascript
        in mijn
        geval omdat ik bang was om dit gedeelte niet te kunnen. Hij heeft mij verteld dat het fijn kan zijn om een
        functie
        volledig uit te schrijven voordat je deze gaat coderen, zo weet je precies wat de functie moet gaan doen en
        wordt het
        ook makkelijker op te bouwen. Ook neem ik veel kennis mee wat ik bij dit vak geleerd heb, maar misschien nog
        niet heb
        toegepast.
    </p>

</section>
{% endblock %}