{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <p>
        Nu gaat het dan echt gebeuren de eerste echte vakken staan te wachten, te beginnen met CSS to the rescue. Een
        vak waar
        Sanne de docent is, iets wat mij enigszins weer geruststelt. Ook had ik hier heel veel zin in omdat ik CSS een
        van de
        leukere programmeertalen vind. Het is meer aan de designkant van het coderen.
    </p>

    <h2>De opdracht</h2>
    <p>
        Je kon bij CSS kiezen tussen vier verschillende opdrachten, ik ben uiteindelijk gegaan voor het maken van een
        control
        panel. Ik had hiervoor meerdere ideeën, waaronder een Russische control panel van vroeger, een ouderwetse tv en
        een
        Nintendo spelcomputer. Uiteindelijk ben ik gegaan voor de Nintendo Gameboy. Deze had ik uiteindelijk responsive
        willen
        maken zodat als de site groot genoeg is het een Nintendo DS zou worden.
    </p>
    <h2>Wat ging er goed?</h2>
    <p>
        Wat ik hierin goed heb gedaan is het groter denken dan dat ik eventueel zou kunnen in de tijd die er beschikbaar
        is. Het
        volledig responsive maken van de site was voor mij niet meer haalbaar uiteindelijk, maar het eindresultaat die
        ik heb
        behaald ben ik wel heel trots op. Ik had bij voorbaat niet gedacht dat ik dat zou kunnen. Ook heb ik in dit
        project veel
        vragen gesteld om vervolgens weer verder te kunnen.
    </p>

    <h2>Wat ging er minder goed?</h2>
    <p>
        Wat er minder goed ging tijdens CSS, vind ik oprecht lastig te benoemen. Veel was namelijk nieuw voor mij en ik
        vind dat
        ik daar best wel goed mee opgegaan ben. Het beginnen vond ik wel heel lastig. Waar begin ik in hemelsnaam? Dacht
        ik dan
        ook. Na een paar workshops ging dat al stukken beter. Ook had ik misschien meer kunnen maken in het begin van
        dit vak,
        dat is ook niet helemaal eerlijk aangezien ik nog veel aan het leren en aan het inkomen was.
    </p>

    <h2>Wat neem ik mee?</h2>
    <p>
        Durf groots te denken, misschien haal je niet wat je in gedachten had, maar sta je aan het eind wel met een mooi
        resultaat. Sites zijn namelijk nooit af, dus als er bepaalde dingen dan nog niet helemaal werken is dat niet per
        se erg,
        maar hoe hoger je je doelen stelt hoe beter het eindresultaat vaak wordt.
    </p>

</section>
{% endblock %}