{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <h2>Toegankelijkheid</h2>
    <p>
        Tijdens de tweede Weeklynerd dook Fenna in een onderwerp dat super belangrijk is, maar vaak een beetje
        vergeten
        wordt: toegankelijkheid. Ze liet zien hoe je websites kunt bouwen die echt voor iedereen werken, zelfs voor
        mensen met
        beperkingen. En geloof me, het was interessanter dan je misschien denkt!
    </p>
    <h3>Aria-attributen en Semantiek</h3>
    <p>
        Fenna begon met het uitleggen van Aria-attributen zoals aria-label, aria-labelledby, aria-expanded, en
        aria-live. Deze
        kleine stukjes code geven extra info aan screenreaders, waardoor mensen met visuele of motorische beperkingen de
        site
        makkelijk kunnen gebruiken. Ze legde uit hoe je deze attributen kunt gebruiken bij dingen zoals menu's,
        accordions en
        carrousels om alles duidelijk en navigeerbaar te maken. Daarnaast vertelde ze ook over de alttekst van
        afbeeldingen, ideale lijnlengtes en lettergroottes en focus guards.
        Dat allemaal om de site zo toegankelijk mogelijk te maken.
    </p>

    <h3>Praktische Tips</h3>
    <p>
        Naast de Aria-attributen en semantiek, vertelde Fenna ook over het belang van "Skip to content" knoppen, het
        instellen
        van verminderde beweging voor mensen die last hebben van veel bewegende onderdelen, en het pauzeren van
        autoplay-video's en
        carrousels.
        Allemaal super belangrijk voor een betere gebruikservaring!
        Fenna gaf ook een heleboel praktische tips, zoals het gebruik van role-attributen voor carrousel containers, de
        juiste
        semantiek in HTML, en het zorgen voor goede kleurcontrasten en lettergroottes zodat alles makkelijk leesbaar is.
    </p>

    <h2>Wat vond ik interessant?</h2>
    <p>
        Het begin was voor mij moeilijk te volgen. Ik snap het nut van de aria-labels wel alleen heb ik nog geen idee
        hoe te
        implementeren of welke te gebruiken. Toegankelijkheid was het onderwerp van deze Weeklynerd maakt iets in mij
        los. Dat
        heb ik van het begin van deze opleiding al een keer gehad. Ik vind het belangrijk dat een site toegankelijk is
        voor
        iedereen. Sommige van deze regels zijn een beetje verwaterd sinds ik weer een tijd uit de code ben, maar ik wil
        ze graag
        weer gaan oppakken. Misschien is een standaard Trello afvink lijst hier wel een handig hulpmiddel bij.
    </p>

    <h2>Wat neem ik mee?</h2>
    <ul>
        <li>
            <p>Een trellobord aanmaken wanneer ik een site begin met alle toegankelijkheid regels daarin zodat ik deze
                kan afvinken.</p>
        </li>
        <li>
            <p>Verdiepen in de Aria-labels het hoe het precies in zijn werk gaat.</p>
        </li>
        <li>
            <p>Toekomstige sites toegankelijker maken.</p>
        </li>
        <li>
            <p>Meer semantiek in mijn HTML gebruiken.</p>
        </li>
    </ul>

</section>
{% endblock %}