{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <p>
        De hackathon was het moment waar ik al mijn zelfvertrouwen ben verloren die ik de weken ervoor had opgebouwd.
        Omdat de
        groepjes zelf gemaakt mochten worden kwamen er veel groepjes met bijvoorbeeld alleen maar seniors, mijn groepje
        bestond
        uit 3 juniors en een medior. Zoals we zelf al zeiden voelde het als Telstar tegen Real Madrid en bij de
        afsluiting
        voelde het alsof je bij een bakwedstrijd aankomt met een makaron terwijl de andere een bruidstaart hadden.
    </p>

    <h2>De opdracht</h2>
    <p>
        De hackathon was een klein projectje van een week waarin je dus met een groep moest worden. Er moest een site
        gemaakt
        worden met daarin data over de CSS day. De beste twee sites kregen een ticket voor de CSS day.
    </p>
    <h2>Wat ging er goed?</h2>
    <p>
        Ik heb niet zoveel positieve dingen aan dit project overgehouden, ben enigszins wel blij met wat wij als
        beginnersgroepje hebben weten neer te zetten.
    </p>

    <h2>Wat ging er minder goed?</h2>
    <p>
        Het mergen in github verliep echt heel slecht we raakten af en toe stukken code kwijt of duurde best lang
        voordat het
        gefixt was. Ook verliep het vragen stellen een stuk minder als de dagen ervoor.
    </p>

    <h2>Wat neem ik mee?</h2>
    <p>
        Is dat je niet per se of eigenlijk juist niet bij vrienden moet zitten om meer te leren. Het kan soms handig
        zijn, maar
        je leert waarschijnlijk meer als je met anderen zit. Dus kies niet voor mensen die je kent tenzij je elkaar goed
        aanvult, anders kies voor een gebalanceerd team waarin je veel vragen kan stellen en kan leren van anderen.
    </p>

</section>
{% endblock %}