{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <p>
        HCD oftewel Human centered design vind ik het mooiste vak wat we deze minor hebben gekregen. We hadden het
        genoegen om
        met Nicolette Besemer te mogen werken. Een hele lieve vrouw met een lichamelijke beperking. Wat ik zo mooi aan
        dit vak
        vond is dat je moest werken voor iemand om de toegankelijkheid voor hen te verbeteren. Het voelde als heel
        dankbaar en
        eervol werk.
    </p>

    <h2>De opdracht</h2>
    <p>
        De opdracht was het maken van een prototype waarin Nicolette gemakkelijk tekst kan selecteren, kopiëren en kan
        plakken.
        Daarnaast wilde ze kunnen scrollen en de teksten delen.
    </p>
    <h2>Wat ging er goed?</h2>
    <p>
        Wat er goed ging was het communiceren met de klant over wat ze wilde hebben, de gesprekken verliepen telkens
        soepel en
        er werd veel duidelijk wanneer ik haar gesproken had. Ook keek ik goed met de anderen mee om te kijken wat wel
        werkt en
        wat niet. Het uitwerken van de functie ging eigenlijk ook heel goed, omdat het voor haar heel fijn werkte, en
        zij goed
        kon aangeven wat er wel werkte en niet ze was kritisch wanneer ze dat moest zijn.
    </p>

    <h2>Wat ging er minder goed?</h2>
    <p>
        Wat er minder goed ging was dat ik af en toe terugviel in mijn eigen perspectief, dan had ik een hele mooie
        functie
        geschreven voor het scrollen en had ik vervolgens weer een vak gemaakt waarin je alleen normaal kan scrollen
        oftewel
        voor bijna iedereen een gewoonte, maar niet handig voor haar. Ook heb ik de principes niet volledig onderbouwd
        met mijn
        verslag en ben ik te laat begonnen met de add nonsense. Iets wat heel belangrijk kan zijn in een concept voor
        iemand met
        een beperking. De add nonsense was dus uiteindelijk heel minimaal in mijn concept.
    </p>

    <h2>Wat neem ik mee?</h2>
    <p>
        Je leert echt kijken vanuit een ander perspectief, maar ga niet zomaar uit van dat het gaat werken want je denkt
        al heel
        snel weer vanuit je eigen perspectief. Ook neem ik mee dat ik het leuk vind om aan de toegankelijkheid te werken
        en dat
        ik graag maatschappelijke opdrachten doe. Ook moet ik wat vaker volledig out of the box denken, experimenteren.
        Zoals de
        add nonsense niet uitstellen, maar er mee beginnen.
    </p>

</section>
{% endblock %}