{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <h2>Development = Creation + Creativity</h2>
    <p>
        Tijdens de weekly nerd van Jeffrey vertelde hij over wat hij deed. Jeffrey Arts is een kustenaar en hij vertelde
        ons wat hij deed en wat hij allemaal maakte. Ik merkte dat hij nog niet zo goed was in presenteren en daarnaast
        liet hij meer zien dan dat hij het uitlegde. Hij maakte betonnen kunst aan de hand van code.
    </p>

    <h2>Wat vond ik interessant?</h2>
    <p>
        Doordat hij niet zo goed presenteerde en niet veel uitlegde vond ik het een totaal nutteloze Weekly nerd.
        Eigenlijk vond ik
        vrijwel niets interessant. Het enige wat ik interessant vond was dat hij kunst met code combineerde.
    </p>

    <h2>Wat neem ik mee?</h2>
    <ul>
        <li>
            <p>Niks</p>
        </li>
    </ul>

</section>
{% endblock %}