{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <h2>CSS animaties</h2>
    <p>
        Julia begon met het tonen van enkele van haar eigen creaties. De animaties die ze met CSS had gemaakt, waren
        werkelijk
        verbluffend. Het was ongelooflijk om te zien hoe levendig en dynamisch CSS-animaties kunnen zijn. Ze legde uit
        dat de
        sleutel tot haar succes lag in het slim gebruiken van nesting en ankerpunten om vloeiende bewegingen en complexe
        structuren te creëren.
    </p>
    <h3>Nesten & ankerpunten</h3>
    <p>
        Een van de technieken die Julia demonstreerde, was het nesten van div-elementen om animaties te maken die
        bijvoorbeeld
        als een slingerende staart bewegen. Door elementen in elkaar te nestelen, kon ze specifieke ankerpunten creëren
        die
        fungeerden als scharnieren. Deze aanpak maakte het mogelijk om zeer gedetailleerde en natuurgetrouwe bewegingen
        te
        realiseren.
    </p>
    <p>
        Ze illustreerde dit door een voorbeeld te geven van hoe je een lichaamsdeel animeert. Ze legde uit dat het
        belangrijk is
        om het nesten correct te doen. Bijvoorbeeld, de teen moet in de voet zitten, de voet in het onderbeen, het
        onderbeen in
        het bovenbeen, en zo verder. Dit hele systeem zorgt ervoor dat de bewegingen logisch en natuurlijk aanvoelen.
    </p>

    <h2>Wat vond ik interessant?</h2>
    <p>
        Ik was verbaasd over de complexiteit en vloeiende bewegingen die mogelijk zijn met alleen CSS. Het concept van
        het
        nesten van elementen om ankerpunten en scharnieren te creëren was erg interessant. Vooral het voorbeeld van hoe
        lichaamsdelen in elkaar worden genesteld om natuurlijke bewegingen te bereiken, vond ik bijzonder interessant.
    </p>

    <h2>Wat neem ik mee?</h2>
    <ul>
        <li>
            <p>Het nesten van de elementen in elkaar.</p>
        </li>
        <li>
            <p>Ook wil ik zelf een keer iets animeren in CSS</p>
        </li>
        <li>
            <p>Het gebruik maken van transform-origin om een element vanuit een bepaald punt te veranderen.</p>
        </li>
    </ul>

</section>
<section class="prev_next">
    <a href="/jeremy_keith" class="button">Vorige Weekly Nerd {% include "partials/prev_next.liquid" %}</a>
    <a href="/pim_marieke" class="button">Volgende Weekly Nerd {% include "partials/prev_next.liquid" %}</a>
</section>
{% endblock %}