{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <h2>The rule of least power</h2>
    <p>
        Tijdens de Weeklynerd van Kilian kregen we veel te horen over het bouwen van betere en
        toegankelijkere
        websites. Zijn boodschap? Gebruik de juiste tools voor de juiste klus en maak het jezelf niet moeilijker dan
        nodig.
    </p>
    <p>
        Kilian begon zijn presentatie met een gouden regel: "The Rule of Least Power." Deze regel houdt in dat je altijd
        de
        minst krachtige taal kiest die geschikt is voor een bepaalde taak. Kilian legde uit dat we vaker terug zouden
        moeten
        grijpen naar HTML en CSS, in plaats van alles met JavaScript op te lossen. Bijvoorbeeld, HTML is perfect voor
        het
        overbrengen van de basisinhoud op een webpagina, en CSS kan veel styling- en layout-taken aan zonder de noodzaak
        van
        ingewikkelde JavaScript-codes.
    </p>
    <h3>Basisstyling veranderen</h3>
    <p>
        Een van de meest interessante onderdelen van zijn presentatie ging over het gebruik van HTML en CSS om
        interactieve
        elementen te maken, zoals custom toggles. Kilian liet zien hoe je met een paar slimme CSS-regels de standaard
        styling
        van invoerelementen kunt aanpassen. Dit maakt het mogelijk om een unieke gebruikerservaring te creëren zonder
        afhankelijk te zijn van JavaScript. Hij benadrukte het belang van eenvoud en hoe je met basis HTML- en
        CSS-kennis al een
        heel eind kunt komen.
    </p>

    <h3>Scroll animaties</h3>
    <p>
        Kilian besprak ook hoe je in-page transitions soepeler kunt maken met CSS. In plaats van jQuery te gebruiken om
        scroll-animaties te berekenen, kun je nu gewoon een paar regels CSS toevoegen en de browser doet de rest. Dit
        zorgt niet
        alleen voor betere prestaties, maar ook voor een consistentere gebruikerservaring op verschillende apparaten.
    </p>

    <h3>Scroll snap</h3>
    <p>
        Kilian vertelde ook over het gebruik van CSS voor het maken van carrousels en hoe je met scroll-snap-type en
        scroll-snap-align eenvoudig carrousels kunt maken die soepel scrollen zonder dat er JavaScript aan te pas komt.
        Dit
        maakt het bouwen van interactieve elementen eenvoudiger en zorgt voor betere prestaties.
    </p>

    <h3>Accoridions</h3>
    <p>
        Verder besprak Kilian het gebruik van het <code>details</code> en <code>summary</code> element voor het
        maken van accordions en het <code>dialog</code>
        element voor modals. Hij legde uit dat deze elementen minimale JavaScript vereisen en toch zeer functioneel
        zijn. Het gebruik van deze elementen kan de toegankelijkheid van je website aanzienlijk verbeteren.
    </p>

    <h3>Container queries</h3>
    <p>
        Tot slot ging Kilian in op container queries. In plaats van te kijken naar hoe breed de browser is, kijk je naar
        hoe
        breed een component is. Dit opent nieuwe mogelijkheden voor responsive design en maakt het eenvoudiger om
        websites te
        ontwerpen die zich aanpassen aan verschillende schermformaten en -resoluties.
    </p>

    <h2>Wat vond ik interessant?</h2>
    <p>
        Wat interessant voor mij was om te zien was dat sommige code die je heel complex kan maken veel simpeler
        opgelost kan
        worden. Ook de twee zinnen, "The rule of least power" en "Choose the least powerful language suitable for a
        given
        purpose" triggeren mij om een zo simpel en effectief mogelijke code te schrijven. Ook vind ik de suggestie voor
        het
        kijken van Adam Argyle - oh snap! top, deze wil ik dan ook in de toekomst gaan bekijken. Wat mij nog meer heel
        nieuwsgierig maakte was het aantal termen en opties die ik nog niet kende in HTML & CSS. Daarbij gezegd hebbende
        dingen
        die ik al weet kunnen ook veranderen, daarom moet ik ervoor zorgen dat ik bij blijf en opnieuw moet blijven
        leren. </p>

    <h2>Wat neem ik mee?</h2>
    <ul>
        <li>
            <p>Proberen om "the least powerful language suitable for a given purpose" op mijn eigen code te betrekken.
            </p>
        </li>
        <li>
            <p>Het leren van meer HTML & CSS elementen om eventuele JS te voorkomen.</p>
        </li>
        <li>
            <p>Het vaker gebruiken en doorspitten van MDN om meer info in mij op te nemen.</p>
        </li>
    </ul>

</section>

<section class="prev_next">
    <a href="/fenna_de_wilde" class="button">Volgende Weekly Nerd {% include "partials/prev_next.liquid" %}</a>
</section>
{% endblock %}