{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <p>De allerlaatste beproefing, de meesterproef. Ondanks dat ik al heel veel geleerd heb, kijk ik ook hier weer tegen
        op. Ik wil het gewoon heel graag halen, zonder herkansingen. Voor de meesterproef waren er veel opdrachten
        waaruit je kon kiezen, dat betekende overigens nog niet dat je die dan ook zou krijgen. Mijn eerste keuze lag
        bij de voetbal opdracht uiteraard. Toch kreeg ik mijn eerste keuze niet omdat er verder niemand van de klas ook
        voor die optie had gekozen. Het werd uiteindelijk mijn tweede keuze Bieb in Bloei. Met als opdrachtgever Mariska
        van de OBA. Ook kreeg ik daarbij te zien wie mijn groepje zou worden. Het was voor mij een hele nieuwe groep met
        mensen waar ik nog niet eerder mee had samengewerkt. Zij hadden dat al wel met elkaar gedaan, ik voelde mij in
        het begin nog een beetje de nieuwkomer, maar ik werd al snel opgenomen binnen de groep.</p>

    <h2>De opdracht</h2>
    <p>
        De opdracht kort en bondig uitleggen zou nu moeten lukken dankzij Sanne, bijna elke week heb ik de design review
        met Sanne gedaan, die vroeg mij telkens de opdracht uit te leggen in een paar zinnen dus hier komt het: De
        opdracht voor Bieb in bloei was het maken van een overkoepelende site voor drie initatieven/projecten die ze
        hebben. De stekjeskast, de zadenbieb en de geveltuinen zijn initiatieven die ervoor zorgen dat de buurtbewoners
        met elkaar in contact komen en waardoor de omgeving groener wordt. Daarbij moet de site een laag krijgen
        waardoor de site seizoensgebonden veranderd en waardoor de site levendiger en aantrekkelijker wordt voor de
        gebruiker.
    </p>
    <h2>Wat ging er goed?</h2>
    <p>
        Alleereerst wil ik beginnen met de samenwerking. De samenwerking verliep soepel en goed. Ik heb denk ik nog
        nooit zo'n gemotiveerd groepje gehad voor een studie opdracht.
        Je hoefde niet achter elkaar aan te gaan om werk voor elkaar te krijgen. Ook verliep het opzetten van dit
        project super overzichtelijk en gestructureerd. Nu ga ik het meer op mij zelf betrekken, ik merkte dat ik in
        tegenstelling tot andere keuzedelen vrijwel altijd vasthield aan een planning en dat voelde fijn. Ook de to do
        list was voor mij een handvat waaruit ik structuur haalde. Dan de leerdoelen, ik had mijzelf voorgenomen om
        uitdagender te werk te gaan(experimenteren), Javascript beter onder de knie te krijgen, meer vragen te stellen
        en de code meer te voorzien van toegankelijkheid. Over het algemeen zijn mijn leerdoelen wel goed verlopen
        tijdens het project. Ik heb voornamelijk veel vragen gesteld alleen denk ik dat dit deels ook te maken heeft
        omdat je gezamenlijk naar iets toewerkt. Ook het experimenteren is tijdens dit project wel tot uiting gekomen
        naar mijn idee. Ik heb veel dingen geprobeerd en ben daarbij ook tegen veel dingen aangelopen. Soms moet ik nog
        wat meer research doen voordat ik iets ga doen, maar aan de andere kan leer je misschien ook wel meer van het
        tegen iets aanlopen.
    </p>

    <h2>Wat ging er minder goed?</h2>
    <p>
        Toch zijn er ook dingen die minder goed zijn gegaan. Ik merkte dat ik soms nog wel wat moeite had met
        Javascript, ik heb meerdere Javascript taken op mij genomen, maar vind het nog steeds lastig. Ik merk ook aan
        mijzelf dat ik Javascript simpelweg een veel minder leuke programmeertaal vind doordat je minder resultaat ziet.
        Wellicht heeft het er ook mee te maken omdat ik er nog niet zo goed in ben. Ik heb wel een aantal stappen
        gemaakt, maar ben nog steeds niet helemaal tevreden. Ondanks dat ik het niet zo leuk vind ben ik nog wel van
        plan mijn aandacht te blijven leggen op Javascript. Ook omdat ik meer zelfvertrouwen had omdat er wel dingen
        lukten.
    </p>

    <h2>Wat neem ik mee?</h2>
    <p>
        Wat ik meeneem voor een volgende keer is dat wanneer je georganiseerd en gestructureerd begint dat dat echt een
        basis is voor de rest van het project. Ik merkte dat ik er zelf rustig en prettig bij voelde. Wat ik nog meer
        mee wil nemen is het blijven werken met Javascript ondanks dat ik daar nog steeds veel moeite mee heb en het
        niet zo leuk vind, is het ten eerste super handig om te kunnen, maar ook een kwestie van leren. Ik had wel veel
        meer zelfvertrouwen toen er een aantal dingen lukte. Dus ik wil het niet opgeven en blijven proberen. Ook wil ik
        toegankelijkheid meer in mijn code gaan verwerken. Ik merkte dat ik daar nog niet zo goed in ben en dat ik daar
        nog veel in kan leren. Ik wil dat in de toekomst meer gaan toepassen. Zoals het gebruik maken van de aria-labels
        en het nadenken over het gebruik van de site, en meer vanuit een ander standpunt kijken naar de site. Ook neem
        ik dit project met mij mee, iets waar ik supertrots op ben. Ik had niet bedacht dat ik aan het eind van deze
        minor dit zou neer hebben gezet. Ook ben ik daarin heel trots op mijn groepje.
    </p>

</section>
{% endblock %}