{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <p>Het allereerste project van het webdesign minor. Ik vond het lastig nog wat ik kon verwachten. Toen het project
        begon
        merkte ik al snel dat ik het weer even wennen vond om in code te komen. Daarnaast merkte ik al snel dat er een
        best hoog
        basisniveau werd verwacht. Dat vond ik best intimiderend.</p>

    <h2>De opdracht</h2>
    <p>
        De opdracht was het maken van een onepage website die te maken had met een thema van wat je met je groepje had
        bedacht.
        In ons groepje hadden we bedacht om een site te maken met de bad eendjes die we begin dit jaar gehad hebben.
        Daarnaast
        moest er ook een gezamenlijke site zijn waarin je gegevens ophaalt vanuit de individuele sites.
    </p>
    <h2>Wat ging er goed?</h2>
    <p>
        Ik vond dat er niet zo heel veel goed ging als ik eerlijk ben. Ik vond het nog lastig om er goed in te komen. Je
        hebt
        maar een week waarin je de site moet opzetten. Daarnaast had ik een weekendje weg waarin ik ook niet heb kunnen
        werken.
        Dus ik was uiteindelijk wel tevreden wat ik in zeer korte tijd heb neer kunnen zetten. Toch duurde het best wel
        een
        tijdje voor ik er echt in begon te komen.
    </p>

    <h2>Wat ging er minder goed?</h2>
    <p>
        De manier van denken in code ging niet zo goed, veel code koste veel tijd en moeite om te schrijven. Daarnaast
        het
        design dat ik gemaakt had was heel simplistisch omdat ik anders dacht dat ik het niet zou kunnen bewerkstelligen
        in een
        week tijd.
    </p>

    <h2>Wat neem ik mee?</h2>
    <p>
        Oefening baart kunst zeggen ze en dat is wel echt zo. Als je een tijdje uit code bent duurt het weer even
        voordat je
        erin zit. Daarnaast leer je pas echt dingen wanneer je ermee aan de haal gaat en fouten maakt. Fouten maken
        voelt zo
        negatief en probeer je te vermijden, maar het is beter om veel fouten te maken, want daar leer je veel meer van.
        Dus wat
        ik meeneem is dat ik niet bang moet zijn om fouten te maken en dat ik meer moet oefenen om beter te worden.
    </p>

</section>
{% endblock %}