{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <h2>9Elements</h2>
    <p>
        Tijdens de derde Weeklynerd sessie kregen we een inzicht in de wereld van communicatieontwerp en
        webontwikkeling van Nils. Zijn presentatie liet ons zien hoe design en ontwikkeling hand in hand gaan om
        prachtige en
        functionele websites te creëren.
    </p>
    <p>
        Nils begon met een overzicht van zijn werk bij 9Elements, waar hij zich richt op communicatieontwerp,
        productontwikkeling en webontwikkeling. Hij werkt veel met logo's, huisstijlen en data visualisatie voor mobiele
        apps en
        websites. Zijn focus ligt vooral op kleine tot middelgrote websites, waar hij zowel ontwerp- als
        ontwikkelingswerk
        verricht.
    </p>

    <h3>Wrapper element</h3>
    <p>
        Een van de interessante punten die Nils besprak, was het gebruik van wrapper elementen in CSS. Hij liet ons de
        oude en
        nieuwe manieren zien om deze te implementeren. De oude methode gebruikt max-width en margin om de inhoud te
        centreren,
        terwijl de nieuwe methode gebruik maakt van de min() functie om de breedte dynamisch aan te passen. Dit maakt de
        code
        niet alleen schoner, maar ook flexibeler.
    </p>

    <h3>Figma</h3>
    <p>
        Nils benadrukte ook het belang van Figma als tool voor webdesign. Hij legde uit hoe Figma veel overeenkomsten
        heeft met
        CSS en waarom het een betere keuze is dan Photoshop voor het ontwerpen van websites. Figma maakt het makkelijker
        om
        ontwerpen direct naar CSS te vertalen, wat de workflow tussen ontwerpers en ontwikkelaars verbetert.
    </p>

    <h3>Units</h3>
    <p>
        Daarnaast besprak Nils verschillende CSS- en viewport-eenheden. Hij ging in op bekende eenheden zoals px, %, en
        rem,
        maar introduceerde ook minder bekende eenheden zoals ch, ex, en em. Vervolgens ging hij dieper in op
        viewport-eenheden
        zoals vw, vh, en de nieuwe lvh, svh, en dvh eenheden. Deze eenheden helpen bij het creëren van responsieve
        designs die
        zich aanpassen aan verschillende schermgroottes en -oriëntaties.
    </p>

    <h2>Wat vond ik interessant?</h2>
    <p>
        Nils was goed te volgen in zijn presentatie, toch vond ik dat hij niet heel veel nieuwe dingen vertelde. Het
        werken met Figma kende ik al, ook kende ik al verschillende units. Toch kwam Nils met een aantal interessante
        punten. Het wrapper element en hoe je dat nu op kunt bouwen en de nieuwere viewport units die ik nog niet kende.
        Het was een interessante presentatie, maar niet heel vernieuwend voor mij.
    </p>

    <h2>Wat neem ik mee?</h2>
    <ul>
        <li>
            <p>Ik wil mijzelf meer gaan inlezen over alle soorten units die er zijn.</p>
        </li>
    </ul>

</section>

<section class="prev_next">
    <a href="/fenna_de_wilde" class="button">Vorige Weekly Nerd {% include "partials/prev_next.liquid" %}</a>
    <a href="/jeffrey_arts" class="button">Volgende Weekly Nerd {% include "partials/prev_next.liquid" %}</a>
</section>
{% endblock %}