{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <h2>Digitaal toegankelijk</h2>
    <p>
        Mariek en Pim vertelden dat ze bij het bedrijf Digitaal Toegankelijk werken, waar ze websites toegankelijk
        maken. Ze vertelden hierover
        hoe ze bij dit bedrijf te werk gaan en wat ze allemaal doen om websites toegankelijk te maken.
    </p>
    <p>
        Marieke en Pim begonnen met de basisprincipes van de Web Content Accessibility Guidelines (WCAG), die bestaan
        uit 50
        criteria verdeeld over vier hoofdonderwerpen: Perceivable, Operable, Understandable en Robust. Deze richtlijnen,
        ook wel
        bekend als de "big four", vormen de ruggengraat van digitale toegankelijkheid.
    </p>
    <h3>De Big Four</h3>
    <ul>
        <li>
            <p>
                <strong>Perceivable:</strong> Zorg ervoor dat de content waarneembaar is voor iedereen. Dit betekent dat
                visuele en
                auditieve
                informatie
                op alternatieve manieren beschikbaar moet zijn.
            </p>
        </li>
        <li>
            <p>
                <stong>Operable:</stong> Gebruikers moeten in staat zijn om de interface te bedienen, of ze nu een muis,
                toetsenbord of
                een
                ander
                hulpmiddel gebruiken.
            </p>
        </li>
        <li>
            <p>
                <strong>Understandable:</strong> De content en de interface moeten begrijpelijk zijn. Dit omvat
                duidelijke instructies en
                voorspelbare
                navigatie.
            </p>
        </li>
        <li>
            <p>
                <strong>Robust:</strong> De content moet compatibel zijn met verschillende browsers en hulpmiddelen,
                zowel nu als in de
                toekomst.
            </p>
        </li>
    </ul>

    <h3>Belangrijke richtlijnen</h3>
    <ul>
        <li>
            <p>
                <strong>Audio Control:</strong> Geluid dat langer dan 3 seconden duurt, moet een optie hebben om te
                worden gepauzeerd of
                gestopt.
            </p>
        </li>
        <li>
            <p>
                <strong>No Keyboard Trap:</strong> Gebruikers moeten vrij kunnen navigeren met het toetsenbord zonder
                vast te komen
                zitten in een
                element.
            </p>
        </li>
        <li>
            <p>
                <strong>Understandable:</strong> De content en de interface moeten begrijpelijk zijn. Dit omvat
                duidelijke instructies en
                voorspelbare
                navigatie.
            </p>
        </li>
        <li>
            <p>
                <strong>Robust:</strong> De content moet compatibel zijn met verschillende browsers en hulpmiddelen,
                zowel nu als in de
                toekomst.
            </p>
        </li>
    </ul>

    <h3>Zelfreflectie vragen</h3>
    <ul>
        <li>
            <p>
                Kan de content door iedereen waargenomen worden?
            </p>
        </li>
        <li>
            <p>
                Kan de content door iedereen bereikt en gebruikt worden?
            </p>
        </li>
        <li>
            <p>
                Kan de content door iedereen begrepen worden?
            </p>
        </li>
        <li>
            <p>
                Is de techniek achter mijn digitale product semantisch correct opgebouwd?
            </p>
        </li>
    </ul>

    <h3>Handige Tips:</h3>
    <ul>
        <li>
            <p>
                <strong>Schermlezer:</strong> Beluister je digitale product eens met een schermlezer om te ervaren hoe
                het is voor mensen die blind of slechtziend
                zijn.
            </p>
        </li>
        <li>
            <p>
                <strong>Toetsenbord:</strong> Doorloop je digitale product met alleen een toetsenbord om te zien of
                alles goed toegankelijk is.
            </p>
        </li>
        <li>
            <p>
                <strong>Test met de doelgroep:</strong> Test je digitale product met je doelgroep om echte feedback te
                krijgen over de toegankelijkheid.
            </p>
        </li>
    </ul>

    <h2>Wat vond ik interessant?</h2>
    <p>
        De presentatie van Marieke en Pim over digitale toegankelijkheid was best interessant. Vooral het concept van de
        "big
        four" en hoe ze de basis vormen van de WCAG richtlijnen vond ik een goed systeem om tot een goed toegankelijke
        website te komen. De specifieke richtlijnen en tips
        zijn
        nuttig en ik ben van plan deze in mijn eigen werk toe te passen.
    </p>

    <h2>Wat neem ik mee?</h2>
    <ul>
        <li>
            <p>Ik ben van plan de tips en richtlijnen meer mee te nemen in de sites die ik maak.</p>
        </li>
    </ul>

</section>
<section class="prev_next">
    <a href="/julia_miocene" class="button">Vorige Weekly Nerd {% include "partials/prev_next.liquid" %}</a>
    <a href="/rosa_schuurman" class="button">Volgende Weekly Nerd {% include "partials/prev_next.liquid" %}</a>
</section>
{% endblock %}