{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <h2>Het bedrijf Q42</h2>
    <p>
        Bij Q42 draait alles om het creëren van digitale producten die het leven van mensen leuker, slimmer en
        makkelijker
        maken. Sinds de oprichting in 2000 heeft dit bedrijf, met inmiddels 100 medewerkers waarvan meer dan 80
        ontwikkelaars,
        zich sterk gemaakt voor innovatie en toegankelijkheid. Als lid van Arc sinds 2022, heeft Q42 een indrukwekkende
        lijst
        van opdrachtgevers opgebouwd, waaronder Hema, Rijksmuseum, Philips Hue, Wie is de Mol en Hack the Planet.
    </p>
    <h3>Toegankelijkheid</h3>
    <p>
        Toegankelijkheid is een belangrijke pijler bij Q42. De filosofie "I’m not disabled, the world disables me"
        benadrukt het
        belang van een inclusieve benadering bij het ontwerpen van producten. Het bedrijf streeft ernaar om de
        eindgebruiker
        altijd centraal te stellen en zorgt ervoor dat iedereen, ongeacht hun beperkingen, een prettige
        gebruikerservaring
        heeft.
    </p>
    <p>
        Digitale toegankelijkheid betekent dat producten bruikbaar zijn voor iedereen, ook voor mensen die:
    </p>
    <ul>
        <li>
            <p>
                Niet goed kunnen zien.
            </p>
        </li>
        <li>
            <p>
                Niet goed kunnen horen.
            </p>
        </li>
        <li>
            <p>
                Niet goed kunnen bewegen.
            </p>
        </li>
        <li>
            <p>
                Moeite hebben met begrijpen.
            </p>
        </li>
    </ul>

    <h2>Wat vond ik interessant?</h2>
    <p>
        Ik vond dit niet zo'n interessante weekly nerd. Het werk dat ze lieten zien was opzich wel mooi en knap gemaakt.
        De reden dat ik het niet zo interessant vond was omdat dit al de vierde talk over toegankelijheid was. De meeste
        dingen zijn daarvan al benoemd en dus niet meer zo boeiend om naar te luisteren.
        Het bedrijf sprak mij an sich wel aan, maar de talk zelf niet zo.
    </p>

    <h2>Wat neem ik mee?</h2>
    <ul>
        <li>
            <p>
                De dingen die ik voorgaande toegankelijheid talks al heb aangegeven met betrekking tot toegankelijkheid.
            </p>
        </li>
    </ul>

</section>
<section class="prev_next">
    <a href="/robert_spier" class="button">Vorige Weekly Nerd {% include "partials/prev_next.liquid" %}</a>
    <a href="/bramus_van_damme" class="button">Volgende Weekly Nerd {% include "partials/prev_next.liquid" %}</a>
</section>
{% endblock %}