{% layout "layouts/base.liquid" %}

{% block content %}
<section class="reflectie">

    <h2>Circuit bending</h2>
    <p>
        Tijdens de Weeklynerd sessie nam Rosa ons mee in de wereld van circuit bending, een fascinerende kunstvorm
        waarbij
        elektronische circuits worden gemanipuleerd om nieuwe muziek- of visuele instrumenten te creëren. Ze legde uit
        hoe
        circuit bending eigenlijk neerkomt op het ombuigen van bestaande frameworks, en ze deelde de oorsprong en
        basisprincipes
        van deze creatieve techniek. Zelf doet ze ook een soort circuit bending in code.
    </p>
    <h3>Hoe werkt het?</h3>
    <p>
        Rosa deelde enkele stelregels voor circuit bending. Ze benadrukte dat het belangrijk is om alleen apparaten te
        gebruiken
        die op batterijen werken, om veiligheidsrisico's te vermijden. Verder moedigde ze aan om je zintuigen te
        gebruiken –
        ogen, oren, handen, neus en hersenen – om het circuit te verkennen en te manipuleren. Het vinden van
        kortsluitingen in
        het circuit kan onverwachte en interessante resultaten opleveren. Succesvolle manipulaties moeten worden
        genoteerd en
        gemarkeerd. Ten slotte is het belangrijk om een manier te creëren om met het gemanipuleerde apparaat te
        communiceren en
        interactie mogelijk te maken.
    </p>

    <h3>Side effects</h3>
    <p>
        Rosa vertelde ook over de verrassende neveneffecten van circuit bending. Het leidt tot een ongekend enthousiasme
        voor
        oude en afgedankte elektronische apparaten, omdat deze een schat aan mogelijkheden bieden voor manipulatie.
        Bovendien
        groeit de overtuiging dat alles maakbaar en manipuleerbaar is, wat een enorme creatieve vrijheid geeft. Door
        letterlijk
        de doos open te breken en te begrijpen hoe het werkt, wordt technologie gedemystificeerd.
    </p>

    <h2>Wat vond ik interessant?</h2>
    <p>
        Het enige interessante aan deze weekly nerd was het out of the box denken dat je bij circuitbending doet en het
        dat je functies/apparaten anders gebruikt dan dat ze gebruikt horen te worden.
    </p>

    <h2>Wat neem ik mee?</h2>
    <ul>
        <li>
            <p>Het experimenteren is iets wat ik zelf ook mee kan nemen in het coderen.</p>
        </li>
    </ul>

</section>
{% endblock %}